@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300&display=swap");

/* Essa .margin-vert--xl e pra tirar na parte do docs um edit this page  */
.margin-vert--xl {
  display: none;
}

/*Estilização da cartilha*/

.row header h1 {
  font-size: 2.5rem;
}

.row {
  margin: 0 1rem 0 -0.8rem;
}

.image-Box {
  text-align: center;
}

.image-Box p {
  margin: 0;
  justify-content: center;
}

article {
  text-align: justify;
}

article h2 {
  font-size: 1.6rem;
}

article h3 {
  font-size: 1rem;
}

article p img {
  align-self: center;
  max-width: auto;
  max-height: auto;
}

.row header h1 {
  font-size: 2.1rem;
}

.center-textArticle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.center-textImage {
  display: flex;
  justify-content: center;
  text-align: center;

  font-weight: 700;
  padding: 1rem;
}

/*fim estiliazação da cartilha*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.main-wrapper {
  background: #f9f9f9;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  background-image: url("/img/fundo-1-100.jpg");
  background-position: center;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */
  .hero {
    background-attachment: fixed;
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .hero {
    background-attachment: scroll;
  }
}

.hero .mensagem {
  margin-bottom: 8rem;
  text-align: center;
  width: 60%;
}

.hero h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 2.25rem;
  text-align: center;
}

.hero p {
  color: rgba(255, 255, 255, 1);
  font-style: italic;
}

.hero .btn {
  background: #007591;
  border-radius: 100px;
  color: white;
  display: block;
  font-weight: bold;
  padding: 1rem 3rem;
  text-decoration: none;
}

.apresentacao .titulo {
  padding: 6rem 2rem;
  text-align: center;
}

.apresentacao .titulo > h1 {
  margin-bottom: 4rem;
}

.apresentacao .titulo > p {
  margin-bottom: 1rem;
}

.texto-container {
  background: linear-gradient(rgba(0, 20, 20, 0.5), rgba(0, 40, 50, 0.5)),
    url(/img/fundo-apresentacao.jpg) no-repeat no-repeat center center, #f4f4f4;
  padding: 3rem;
  background-size: 250%;
}

.texto-container .texto p {
  color: white;
  font-weight: 300;
  line-height: 1.6rem;
  margin-bottom: 2rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.autor {
  color: white;
  padding: 2rem 0 1rem 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.autor img {
  border-radius: 50px;
  height: 100px;
}

.autor .nome {
  font-weight: bold;
}

.autor p {
  margin: 0;
}

/* Footer  */

footer {
  background: white;
}

footer .container {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  text-align: center;
}
.title-footer {
  font-weight: bold;
}

.description-footer {
  flex: 1;
  font-weight: 300;
  text-align: center;
}

.description-footer p {
  margin: 0;
}

/* Cards - Autores */

.headerTitle {
  padding: 8rem 0 2rem 0;
  text-align: center;
}

.main-container-cards .card,
.card p {
  text-align: center;
}

.main-container-cards .card img {
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50px;
}

.container-cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.container-cards .card {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  height: 320px;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  width: 80vw;
}

.action-card {
  bottom: 1rem;
  font-weight: bold;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.action-card a {
  color: #007c2d;
  display: box;
}

.descricao-autor {
  font-size: 0.8rem;
}

.nome-autor {
  font-weight: bold;
  padding-top: 0.5rem;
}

@media screen and (min-width: 850px) {
  .container-cards .card {
    width: 35vw;
  }
}

@media screen and (min-width: 550px) {
  .container-cards .card {
    width: 100vw;
  }
}

@media screen and (min-width: 1024px) {
  .hero h1 {
    font-size: 3rem;
    width: 60%;
    margin: 0 auto;
  }

  .apresentacao .titulo {
    margin: 0 auto;
    text-align: center;
    width: 60%;
  }

  .apresentacao .titulo > h1 {
    margin-bottom: 4rem;
  }

  .texto-container {
    background-size: 40%;
    padding: 4rem;
    background-position-x: right;
  }

  .texto-container .texto {
    width: 55%;
  }

  .texto-container .texto p {
    margin-bottom: 2rem;
  }

  .autor {
    text-align: left;
  }

  .container-cards .card {
    width: 28vw;
  }
}
